In [1]:
import csv
import time
from selenium import webdriver
import pandas as pd
from bs4 import BeautifulSoup

In [2]:
driver = webdriver.Edge(r"C:\Users\rrd\Desktop\doubt\msedgedriver.exe")

In [3]:
jobs={"roles":[],
     "companies":[],
     "locations":[],
     "experience":[],
     "skills":[]}

In [4]:

for i in range(2):
    driver.get("https://www.naukri.com/data-scientist-jobs-{}".format(i))
    time.sleep(3)
    lst=driver.find_elements_by_css_selector(".jobTuple.bgWhite.br4.mb-8")
    
    # scrape the data from website
    for job in lst:
        driver.implicitly_wait(10)
        role=job.find_element_by_css_selector("a.title.fw500.ellipsis").text
        company=job.find_element_by_css_selector("a.subTitle.ellipsis.fleft").text
        location=job.find_element_by_css_selector(".fleft.grey-text.br2.placeHolderLi.location").text
        exp=job.find_element_by_css_selector(".fleft.grey-text.br2.placeHolderLi.experience").text
        skills=job.find_element_by_css_selector(".tags.has-description").text
        jobs["roles"].append(role)
        jobs["companies"].append(company)
        jobs["locations"].append(location)
        jobs["experience"].append(exp)
        jobs["skills"].append(skills)

In [5]:
print(jobs)

{'roles': ['Data Scientist', 'Staff Data Scientist', 'Opportunity For Data Scientist Internship - Bengaluru', 'Data Scientist - Machine Learning', 'Data Scientist || Data Analyst || Data science', 'Data Scientist - IBM Garage', 'GAMMA Lead Data Scientist', 'DBCG IND - GAMMA Senior Data Scientist', 'Data Scientist - Image Processing/Machine Learning', 'Data Scientist/Senior Data Scientist', 'Senior Data Scientist | CES IT LTD | CMMI Level 5', 'Data Scientist/Data Analyst - Python/Machine Learning', 'Global Medical Data Scientist', 'Associate Data Scientist - CRM & Loyalty', 'Data Scientist', 'Data Scientist', 'Data Scientist / Data Analyst – Mobile Gaming Industry', 'Senior Data Scientist - Machine Learning/Hadoop', 'Founding Member & Principal Data Scientist - Machine Learning/Deep', 'Data Scientist Advanced Analytics', 'Data Scientist', 'Staff Data Scientist', 'Opportunity For Data Scientist Internship - Bengaluru', 'Data Scientist - Machine Learning', 'Data Scientist || Data Analyst || Data science', 'Data Scientist - IBM Garage', 'GAMMA Lead Data Scientist', 'DBCG IND - GAMMA Senior Data Scientist', 'Data Scientist - Image Processing/Machine Learning', 'Data Scientist/Senior Data Scientist', 'Senior Data Scientist | CES IT LTD | CMMI Level 5', 'Data Scientist/Data Analyst - Python/Machine Learning', 'Global Medical Data Scientist', 'Associate Data Scientist - CRM & Loyalty', 'Data Scientist', 'Data Scientist', 'Data Scientist / Data Analyst – Mobile Gaming Industry', 'Senior Data Scientist - Machine Learning/Hadoop', 'Founding Member & Principal Data Scientist - Machine Learning/Deep', 'Data Scientist Advanced Analytics'], 'companies': ['CronJ IT Technologies Private Limited', 'Walmart Global Tech India', 'Corner Stone Solutions', 'AugmatrixGo', 'Inspiration Manpower Consultancy Pvt. Ltd.', 'IBM India Pvt. Limited', 'Boston Consulting Group', 'Boston Consulting Group', 'CarbyneTech India', 'GANIT BUSINESS SOLUTIONS PRIVATE LIMITED', 'CES Ltd.', 'Change leaders', 'GlaxoSmithKline Pharmaceuticals Limited', 'Shell India Markets Private Limited', 'IBM India Pvt. Limited', 'Super India Tech Mark', 'WITZEAL TECHNOLOGIES PRIVATE LIMITED', 'Decision Point', 'Benovymed Healthcare', 'IBM India Pvt. Limited', 'CronJ IT Technologies Private Limited', 'Walmart Global Tech India', 'Corner Stone Solutions', 'AugmatrixGo', 'Inspiration Manpower Consultancy Pvt. Ltd.', 'IBM India Pvt. Limited', 'Boston Consulting Group', 'Boston Consulting Group', 'CarbyneTech India', 'GANIT BUSINESS SOLUTIONS PRIVATE LIMITED', 'CES Ltd.', 'Change leaders', 'GlaxoSmithKline Pharmaceuticals Limited', 'Shell India Markets Private Limited', 'IBM India Pvt. Limited', 'Super India Tech Mark', 'WITZEAL TECHNOLOGIES PRIVATE LIMITED', 'Decision Point', 'Benovymed Healthcare', 'IBM India Pvt. Limited'], 'locations': ['Bangalore/Bengaluru', 'Other', 'Bangalore/Bengaluru', 'Bangalore/Bengaluru', 'Navi Mumbai, Bangalore/Bengaluru', 'Noida, Hyderabad/Secunderabad, Bangalore/Bengaluru', 'Mumbai, New Delhi, Chennai, Bangalore/Bengaluru', 'Mumbai, New Delhi, Chennai, Bangalore/Bengaluru', 'Hyderabad/Secunderabad', 'Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru, Mumbai (All Areas)', 'Kolkata, Mumbai, Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru, Delhi / NCR', 'Mumbai, Ghaziabad', 'Bangalore/Bengaluru', 'Bangalore/Bengaluru', 'Bangalore/Bengaluru', 'Srinagar', 'Gurgaon/Gurugram', 'Gurgaon/Gurugram', 'Gurgaon/Gurugram', 'Mumbai', 'Bangalore/Bengaluru', 'Other', 'Bangalore/Bengaluru', 'Bangalore/Bengaluru', 'Navi Mumbai, Bangalore/Bengaluru', 'Noida, Hyderabad/Secunderabad, Bangalore/Bengaluru', 'Mumbai, New Delhi, Chennai, Bangalore/Bengaluru', 'Mumbai, New Delhi, Chennai, Bangalore/Bengaluru', 'Hyderabad/Secunderabad', 'Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru, Mumbai (All Areas)', 'Kolkata, Mumbai, Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru, Delhi / NCR', 'Mumbai, Ghaziabad', 'Bangalore/Bengaluru', 'Bangalore/Bengaluru', 'Bangalore/Bengaluru', 'Srinagar', 'Gurgaon/Gurugram', 'Gurgaon/Gurugram', 'Gurgaon/Gurugram', 'Mumbai'], 'experience': ['0-1 Yrs', '0-5 Yrs', '0-1 Yrs', '2-5 Yrs', '6-11 Yrs', '5-8 Yrs', '7-12 Yrs', '6-10 Yrs', '6-11 Yrs', '4-8 Yrs', '2-7 Yrs', '5-10 Yrs', '5-10 Yrs', '3-5 Yrs', '6-8 Yrs', '0-1 Yrs', '4-7 Yrs', '2-7 Yrs', '3-7 Yrs', '4-8 Yrs', '0-1 Yrs', '0-5 Yrs', '0-1 Yrs', '2-5 Yrs', '6-11 Yrs', '5-8 Yrs', '7-12 Yrs', '6-10 Yrs', '6-11 Yrs', '4-8 Yrs', '2-7 Yrs', '5-10 Yrs', '5-10 Yrs', '3-5 Yrs', '6-8 Yrs', '0-1 Yrs', '4-7 Yrs', '2-7 Yrs', '3-7 Yrs', '4-8 Yrs'], 'skills': ['IT Skills\nPython\nData Science\nAWS\nTensorflow\nJava\nC++\nC', 'NA', 'NLP\nOpencv\nArtificial Intelligence\nData Science\nR\ntensorflow\nAlgorithms\nMATLAB', 'Hive\nR\nCloud Computing\nData Scientist\nComputer Vision\nMachine Learning\nDeep Learning\nSQL', 'Data Science\nJava\nR\nEDA\nStatistical Modeling\nData Analysis\nBig Data\nTableau', 'IT Skills\nPython\nData Science\nMachine Learning\nArtificial Intelligence\nCloud\nPytorch\nNeural Networks', 'Data analysis\nOperations research\ndata science\nData management\nBusiness analytics\nConsulting\nManagement consulting\nBusiness strategy', 'Computer science\nadvanced analytics\nSDS\ndata science\nArtificial Intelligence\nProject management\nMachine learning\nManagement consulting', 'Predictive Modeling\nData Science\nData Scientist\nTime Series Analysis\nImage Processing\nData Management\nMachine Learning\nPredictive Analytics', 'Predictive Modeling\nManufacturing Analytics\nPython\nData Science\nR\nData Quality\nAlgorithms\nVBA', 'Analytical\nKeras\nObject Detection\ntensorflow\nPyTorch\nOpenCV\nalgorithm\nPython', 'Business Intelligence\nR\nData Scientist\nData Management\nHadoop\nData Mining\nMachine Learning\nPython', 'SQL\nDatabricks\nText Analytics\nArtificial Intelligence\nNatural Language Processing\nMachine Learning\nData Science\nanalytics', 'Direct Marketing\nMultivariate Analysis\nR\nData Scientist\nFactor Analysis\nCustomer Analytics\nTime Series\nMarket Basket Analysis', 'IT Skills\nCloud\nAWS\nAzure\nStar Schema\nBusiness Intelligence\nSnowflake\nDatastage', 'Data Cleansing\nData Mining\nProduction Systems', 'Google Analytics\nETL Tools\nBig Data\nHypothesis Testing\nMachine Learning\nStatistics\nMixpanel\nSQL', 'Data Science\nJava\nRDBMS\nData Scientist\nHadoop\nData Management\nData Analytics\nMachine Learning', 'Neural Networks\nChatbot Deployment\nMachine Learning\nDeep Learning\nNumpy\nData Science\nNLP\nData Scientist', 'Analytical\nSPSS\nSAS PROCs\nSAS\nMIS\nR\nSAS VA\nagile', 'IT Skills\nPython\nData Science\nAWS\nTensorflow\nJava\nC++\nC', 'NA', 'NLP\nOpencv\nArtificial Intelligence\nData Science\nR\ntensorflow\nAlgorithms\nMATLAB', 'Hive\nR\nCloud Computing\nData Scientist\nComputer Vision\nMachine Learning\nDeep Learning\nSQL', 'Data Science\nJava\nR\nEDA\nStatistical Modeling\nData Analysis\nBig Data\nTableau', 'IT Skills\nPython\nData Science\nMachine Learning\nArtificial Intelligence\nCloud\nPytorch\nNeural Networks', 'Data analysis\nOperations research\ndata science\nData management\nBusiness analytics\nConsulting\nManagement consulting\nBusiness strategy', 'Computer science\nadvanced analytics\nSDS\ndata science\nArtificial Intelligence\nProject management\nMachine learning\nManagement consulting', 'Predictive Modeling\nData Science\nData Scientist\nTime Series Analysis\nImage Processing\nData Management\nMachine Learning\nPredictive Analytics', 'Predictive Modeling\nManufacturing Analytics\nPython\nData Science\nR\nData Quality\nAlgorithms\nVBA', 'Analytical\nKeras\nObject Detection\ntensorflow\nPyTorch\nOpenCV\nalgorithm\nPython', 'Business Intelligence\nR\nData Scientist\nData Management\nHadoop\nData Mining\nMachine Learning\nPython', 'SQL\nDatabricks\nText Analytics\nArtificial Intelligence\nNatural Language Processing\nMachine Learning\nData Science\nanalytics', 'Direct Marketing\nMultivariate Analysis\nR\nData Scientist\nFactor Analysis\nCustomer Analytics\nTime Series\nMarket Basket Analysis', 'IT Skills\nCloud\nAWS\nAzure\nStar Schema\nBusiness Intelligence\nSnowflake\nDatastage', 'Data Cleansing\nData Mining\nProduction Systems', 'Google Analytics\nETL Tools\nBig Data\nHypothesis Testing\nMachine Learning\nStatistics\nMixpanel\nSQL', 'Data Science\nJava\nRDBMS\nData Scientist\nHadoop\nData Management\nData Analytics\nMachine Learning', 'Neural Networks\nChatbot Deployment\nMachine Learning\nDeep Learning\nNumpy\nData Science\nNLP\nData Scientist', 'Analytical\nSPSS\nSAS PROCs\nSAS\nMIS\nR\nSAS VA\nagile']}

In [6]:
# tranform data into dataframe
df=pd.DataFrame.from_dict(jobs)
df.head(10)

,roles,companies,locations,experience,skills
0,Data Scientist,CronJ IT Technologies Private Limited,Bangalore/Bengaluru,0-1 Yrs,IT Skills\nPython\nData Science\nAWS\nTensorfl...
1,Staff Data Scientist,Walmart Global Tech India,Other,0-5 Yrs,NA
2,Opportunity For Data Scientist Internship - Be...,Corner Stone Solutions,Bangalore/Bengaluru,0-1 Yrs,NLP\nOpencv\nArtificial Intelligence\nData Sci...
3,Data Scientist - Machine Learning,AugmatrixGo,Bangalore/Bengaluru,2-5 Yrs,Hive\nR\nCloud Computing\nData Scientist\nComp...
4,Data Scientist || Data Analyst || Data science,Inspiration Manpower Consultancy Pvt. Ltd.,"Navi Mumbai, Bangalore/Bengaluru",6-11 Yrs,Data Science\nJava\nR\nEDA\nStatistical Modeli...
5,Data Scientist - IBM Garage,IBM India Pvt. Limited,"Noida, Hyderabad/Secunderabad, Bangalore/Benga...",5-8 Yrs,IT Skills\nPython\nData Science\nMachine Learn...
6,GAMMA Lead Data Scientist,Boston Consulting Group,"Mumbai, New Delhi, Chennai, Bangalore/Bengaluru",7-12 Yrs,Data analysis\nOperations research\ndata scien...
7,DBCG IND - GAMMA Senior Data Scientist,Boston Consulting Group,"Mumbai, New Delhi, Chennai, Bangalore/Bengaluru",6-10 Yrs,Computer science\nadvanced analytics\nSDS\ndat...
8,Data Scientist - Image Processing/Machine Lear...,CarbyneTech India,Hyderabad/Secunderabad,6-11 Yrs,Predictive Modeling\nData Science\nData Scient...
9,Data Scientist/Senior Data Scientist,GANIT BUSINESS SOLUTIONS PRIVATE LIMITED,"Hyderabad/Secunderabad, Pune, Chennai, Bangalo...",4-8 Yrs,Predictive Modeling\nManufacturing Analytics\n...

In [7]:
# lower case all the strings to avoid redundancy
df=df.apply(lambda x: x.astype(str).str.lower())
df.head()

,roles,companies,locations,experience,skills
0,data scientist,cronj it technologies private limited,bangalore/bengaluru,0-1 yrs,it skills\npython\ndata science\naws\ntensorfl...
1,staff data scientist,walmart global tech india,other,0-5 yrs,na
2,opportunity for data scientist internship - be...,corner stone solutions,bangalore/bengaluru,0-1 yrs,nlp\nopencv\nartificial intelligence\ndata sci...
3,data scientist - machine learning,augmatrixgo,bangalore/bengaluru,2-5 yrs,hive\nr\ncloud computing\ndata scientist\ncomp...
4,data scientist || data analyst || data science,inspiration manpower consultancy pvt. ltd.,"navi mumbai, bangalore/bengaluru",6-11 yrs,data science\njava\nr\neda\nstatistical modeli...

In [8]:
# there are more than one loaction and skills are attached to each job, so do spliting split the location and skill
df.skills=[skill.split("\n") for skill in df.skills]
df.locations=[location.split(",") for location in df.locations]
df[15:25]

,roles,companies,locations,experience,skills
15,data scientist,super india tech mark,[srinagar],0-1 yrs,"[data cleansing, data mining, production systems]"
16,data scientist / data analyst – mobile gaming ...,witzeal technologies private limited,[gurgaon/gurugram],4-7 yrs,"[google analytics, etl tools, big data, hypoth..."
17,senior data scientist - machine learning/hadoop,decision point,[gurgaon/gurugram],2-7 yrs,"[data science, java, rdbms, data scientist, ha..."
18,founding member & principal data scientist - m...,benovymed healthcare,[gurgaon/gurugram],3-7 yrs,"[neural networks, chatbot deployment, machine ..."
19,data scientist advanced analytics,ibm india pvt. limited,[mumbai],4-8 yrs,"[analytical, spss, sas procs, sas, mis, r, sas..."
20,data scientist,cronj it technologies private limited,[bangalore/bengaluru],0-1 yrs,"[it skills, python, data science, aws, tensorf..."
21,staff data scientist,walmart global tech india,[other],0-5 yrs,[na]
22,opportunity for data scientist internship - be...,corner stone solutions,[bangalore/bengaluru],0-1 yrs,"[nlp, opencv, artificial intelligence, data sc..."
23,data scientist - machine learning,augmatrixgo,[bangalore/bengaluru],2-5 yrs,"[hive, r, cloud computing, data scientist, com..."
24,data scientist || data analyst || data science,inspiration manpower consultancy pvt. ltd.,"[navi mumbai, bangalore/bengaluru]",6-11 yrs,"[data science, java, r, eda, statistical model..."

In [9]:
# information of columns in dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   roles       40 non-null     object
 1   companies   40 non-null     object
 2   locations   40 non-null     object
 3   experience  40 non-null     object
 4   skills      40 non-null     object
dtypes: object(5)
memory usage: 1.7+ KB

In [10]:
# check data have null values
df.isnull().sum()

roles         0
companies     0
locations     0
experience    0
skills        0
dtype: int64

In [11]:
# droping the missing value
df=df.dropna()

In [12]:
df.to_csv('naukri.csv')