In [1]:
! pip install selenium

Requirement already satisfied: selenium in c:\users\rrd\anaconda\lib\site-packages (3.141.0)
Requirement already satisfied: urllib3 in c:\users\rrd\anaconda\lib\site-packages (from selenium) (1.25.9)

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import urllib.request
import math
import time
from pandas import DataFrame, Series
from urllib.request import Request, urlopen
import requests
from selenium import webdriver
from selenium.webdriver.chrome.options import Options
from selenium.webdriver import chrome
from selenium.common.exceptions import *

In [3]:
jobs={"roles":[],
     "companies":[],
     "locations":[],
     "experience":[],
     "skills":[],
     "Dates":[],
     "salary":[],}

In [4]:
MAX_PAGE_NUM = 50
MAX_PAGE_DIG = 3

In [5]:
driver = webdriver.Edge(r"C:\Users\rrd\Desktop\doubt\msedgedriver.exe")

In [6]:
for i in range(1, MAX_PAGE_NUM+1):
    page_num = (MAX_PAGE_DIG - len(str(i))) * "0" + str(i)
    url="https://www.naukri.com/data-scientist-jobs-"+page_num+"?k=data%20scientist"
    driver.get(url)
    time.sleep(3)
    lst=driver.find_elements_by_css_selector(".jobTuple.bgWhite.br4.mb-8")
    
    for job in lst:
        driver.implicitly_wait(10)
        try:
            role=job.find_element_by_css_selector("a.title.fw500.ellipsis").text
            company=job.find_element_by_css_selector("a.subTitle.ellipsis.fleft").text
            location=job.find_element_by_css_selector(".fleft.grey-text.br2.placeHolderLi.location").text
            salaries=job.find_element_by_css_selector(".fleft.grey-text.br2.placeHolderLi.salary").text
            exp=job.find_element_by_css_selector(".fleft.grey-text.br2.placeHolderLi.experience").text
            date=job.find_element_by_css_selector(".type.br2.fleft.grey").text
            skills=job.find_element_by_css_selector(".tags.has-description").text 
        except NoSuchElementException:
             pass
        jobs["roles"].append(role)
        jobs["companies"].append(company)
        jobs["locations"].append(location)
        jobs["experience"].append(exp)
        jobs["salary"].append(salaries)
        jobs["Dates"].append(date)
        jobs["skills"].append(skills)

In [7]:
df1=pd.DataFrame(jobs)
df1

,roles,companies,locations,experience,skills,Dates,salary
0,Data Scientist,CronJ IT Technologies Private Limited,Bangalore/Bengaluru,0-1 Yrs,IT Skills\nPython\nData Science\nAWS\nTensorfl...,8 DAYS AGO,"3,50,000 - 5,00,000 PA."
1,Staff Data Scientist,Walmart Global Tech India,Other,0-5 Yrs,NA,6 DAYS AGO,Not disclosed
2,Opportunity For Data Scientist Internship - Be...,Corner Stone Solutions,Bangalore/Bengaluru,0-1 Yrs,NLP\nOpencv\nArtificial Intelligence\nData Sci...,15 DAYS AGO,"1,00,000 - 3,00,000 PA."
3,Data Scientist - Machine Learning,AugmatrixGo,Bangalore/Bengaluru,2-5 Yrs,Hive\nR\nCloud Computing\nData Scientist\nComp...,7 DAYS AGO,Not disclosed
4,Data Scientist || Data Analyst || Data science,Inspiration Manpower Consultancy Pvt. Ltd.,"Navi Mumbai, Bangalore/Bengaluru",6-11 Yrs,Data Science\nJava\nR\nEDA\nStatistical Modeli...,14 DAYS AGO,"14,00,000 - 22,50,000 PA."
...,...,...,...,...,...,...,...
995,Data Scientist,ExecBoardinAsia,Chennai,11-15 Yrs,data science\nBanking\nPresales\nIT marketing,30+ DAYS AGO,Not disclosed
996,Data Scientist,Ganit Business Solutions,Chennai,2-7 Yrs,Analytics,30+ DAYS AGO,Not disclosed
997,Senior Data & Applied Scientist,Microsoft Corporation,Bangalore/Bengaluru,7-12 Yrs,Computer science\nCloud computing\nC++\nProtot...,30+ DAYS AGO,Not disclosed
998,Data Scientist,"Fetch Rewards, Inc.",remote,1-6 Yrs,IT Skills\nPython\nSoftware Development\nData ...,30+ DAYS AGO,Not disclosed
999,Data Scientist,Gauge Data Solutions Pvt Ltd,Noida,2-5 Yrs,IT Skills\nJava\nPython\nMachine Learning\nArt...,30+ DAYS AGO,Not disclosed

In [8]:
df1.to_csv("naukriscrapdata.csv")

In [9]:
df1.columns

Index(['roles', 'companies', 'locations', 'experience', 'skills', 'Dates',
       'salary'],
      dtype='object')